
@model _2nd_Lecture.Models.Person

<h2>Details</h2>
<h3>Name: @ViewBag.Name</h3>
<h3>Temp: @ViewData["TEMP"]</h3>



<h1>Values retrieved from model!!</h1>
<h3>Name: @Model.Name</h3>
<h3>Temp: @Model.Username</h3>
<h3>Temp: @Model.Password</h3>

