
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Name: @ViewBag.Name</h3>
<h3>Id: @ViewBag.Age</h3>
<h3>Age: @ViewBag.Id</h3>
<h3>Name From Tempdata: @TempData["Name"]</h3>
<h3>Dream: @TempData["Dream"]</h3>
